#map, .map {
    height: 550px;
    width: 100%;
}

body {    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 16px;
    color: #031424;
    /* overflow-y:hidden; */
}


h1 {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 40px;
    color:#30415D;

}

h2, h3, h4, h5, h6 {
    Font-Family: 'Cabin', Sans-Serif;

    color:#7E95B4;
}

.info-window-name {
    Font-Size: 20px;
}

#tagline {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 20px;
}

.nav-link, .navbar-brand {
    color:#30415D !important;
    }

/* .btn-primary {
    background-color: #CF6766 !important;
} */


.btn-primary {
    background-color: #CF6766  !important;
    border-color: #CF6766 !important;
}

btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #7E95B4  !important;
    border-color: #7E95B4  !important;

}
/* 
#routeinfo {
    background-color: #8EAEBD ;
} */